# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Local LLMs
/src/main/resources/models/

# Claude Code settings
.claude/settings.local.json

# Local task data
/data/aria.txt

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
